body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-size 13px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
a
  color: #00B7FF
h1, h2
  margin 0
  font-size 22px
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  font-size 60px 

input[type =text]
  size 80
  margin-left 16px
  float left
input[type =button], input[type =submit]
  clear both
  text-align left
  margin-left 70px
  display block
table
  border: 2px  solid gray
  width 100%
  .assets
    width 200px
    background-color #eee


#finplan
  text-align left
  margin-left auto
  margin-right auto
  width 500px
  input#save
    font-size 15px
    background-color #faa
  input#cancel
    font-size 15px
    background-color #aaa
  input#home
    font-size 15px
    background-color #eef 
  input#asset
    width 60px

  .fp
    margin 20px
    input#tbl_edit
      background-color: #fff
    .tbl_div
      width 500px
    .yellow
        background-color: #ffa
    .title
        font-weight: bold;
        background-color: #eee;
    .description
      background-color: #eee;
    input#delete
      font-size 15px
      margin-top -1px
      margin-left 330px
      background-color: #aaf
    input#details
      font-size 15px
      margin-top: -27px;
      margin-left: 1px;
      background-color: #faa;
    input#entry_field
      font-size 15px
      margin-left: 10px;
      background-color: #faa; 
      width 40px   
    .label
        width 70px
        text-align left
        display block
        float left
    .label_short
        width 20px
        text-align left
        display block
        float left





   
  // .newfinplan
  //   border 3px
  //   border-color #000
  //   border-style dotted
  //   width 450px
  //   margin-left auto
  //   margin-right auto
  //   padding 14px

  // input[type =button], input[type =submit]
  //   clear both
  //   text-align left
  //   margin-left 165px
  //   display block
  // .label
  //     width 150px
  //     text-align right !important
  //     display block
  //     float left
