body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
a {
  color: #00b7ff;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
input[type =text] {
  size: 80;
  margin-left: 16px;
  float: left;
}
input[type =button],
input[type =submit] {
  clear: both;
  text-align: left;
  margin-left: 70px;
  display: block;
}
table {
  border: 2px solid #808080;
  width: 100%;
}
table .assets {
  width: 200px;
  background-color: #eee;
}
#finplan {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
#finplan input#save {
  font-size: 15px;
  background-color: #faa;
}
#finplan input#cancel {
  font-size: 15px;
  background-color: #aaa;
}
#finplan input#home {
  font-size: 15px;
  background-color: #eef;
}
#finplan input#asset {
  width: 60px;
}
#finplan .fp {
  margin: 20px;
}
#finplan .fp input#tbl_edit {
  background-color: #fff;
}
#finplan .fp .tbl_div {
  width: 500px;
}
#finplan .fp .yellow {
  background-color: #ffa;
}
#finplan .fp .title {
  font-weight: bold;
  background-color: #eee;
}
#finplan .fp .description {
  background-color: #eee;
}
#finplan .fp input#delete {
  font-size: 15px;
  margin-top: -1px;
  margin-left: 330px;
  background-color: #aaf;
}
#finplan .fp input#details {
  font-size: 15px;
  margin-top: -27px;
  margin-left: 1px;
  background-color: #faa;
}
#finplan .fp input#entry_field {
  font-size: 15px;
  margin-left: 10px;
  background-color: #faa;
  width: 40px;
}
#finplan .fp .label {
  width: 70px;
  text-align: left;
  display: block;
  float: left;
}
#finplan .fp .label_short {
  width: 20px;
  text-align: left;
  display: block;
  float: left;
}
